@model RetirarEmpleadoViewModel
@{
    ViewBag.Title = "Retirar";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">@ViewBag.Title</h4>
</div>

<div class="modal-body">
    @using (Ajax.BeginForm("Retirar", "Empleado", new { Area = "Gestion" },
        new AjaxOptions
        {
            OnComplete = "OnCompleteRetirarEmpleado"
        },
        new { @class = "", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="clearfix"></div>
        @Html.ValidationMessage("Error", new { @class = "text-danger" })
        @Html.ValidationMessage("Success", new { @class = "text-success" })
        @Html.ValidationSummary(false, "", new { @class = "alert alert-danger small col-md-12" })
        <div class="clearfix"></div>

        @Html.HiddenFor(m => m.Id)

        <div class="form-group">
            @Html.LabelFor(m => m.Documento, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Documento, new { @class = "form-control", @readonly = "readonly" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.NombreCompleto, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.NombreCompleto, new { @class = "form-control", @readonly = "readonly" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.FechaRetiro, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.FechaRetiro, new { @class = "form-control datepicker" })
            @Html.ValidationMessageFor(m => m.FechaRetiro, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Observaciones, new { @class = "control-label" })
            @Html.TextAreaFor(m => m.Observaciones, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Observaciones, "", new { @class = "text-danger" })
        </div>

        <div class="text-right">
            <button type="submit" class="btn btn-success">Guardar</button>
            <button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>
        </div>
    }
</div>