@model SimularCreditoViewModel
@{
    ViewBag.Title = "Simular credito";
    ViewBag.BodyClass = "body-background-gray";
}

<!--Formulario-->
@using (Html.BeginForm("SimularCredito", "Banco",
                new { Area = "Gestion" },
                FormMethod.Post,
                new { enctype = "multipart/form-data", @class = "", role = "form" }))
{
    @Html.ValidationMessage("Error", new { @class = "text-danger" })
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
    {
        @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationSummary().ToHtmlString()))
    }

    @Html.HiddenFor(m => m.bancoId)

    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.Valor, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Valor, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Valor, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.Duracion, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Duracion, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Duracion, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.Tasa, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Tasa, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Tasa, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.Fecha, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Fecha, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Fecha, "", new { @class = "text-danger" })
    </div>

    <div class="clearfix"></div>

        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-success">Calcular</button>
            <a type="button" href="@Url.Action("Menu", "Banco", new { Area = "Gestion", id = ViewBag.Id} )" class="btn btn-warning">Cerrar</a>
        </div>
}
@section Scripts{
    @Scripts.Render("~/Areas/Gestion/scripts/Banco/SimularCredito.js")
}