@model ListarProspectoViewModel

<!--Filtro de la tabla-->
<div class="col-md-12">
    <div class="pull-left">
        <div class="form-inline">
            <div class="form-group">
                @Html.DropDownListFor(m => m.UnidadNegocioProspectoId, Model.UnidadesNegocio, "Seleccione Unidad de Negocio", new { @class = "form-control selectpicker", onchange = "OnchangeUnidadNegocioProspecto(this)" })
            </div>
            <div class="form-group">
                @Html.DropDownListFor(m => m.AreaProspectoId, Model.Areas, "Seleccione Area", new { @class = "form-control selectpicker", onchange = "OnChangeAreaProspecto(this)" })
            </div>
            <div class="form-group">
                <div class="form-group">
                    <input type="search" name="input-filtro-prospectos" id="input-filtro-prospectos" class="form-control" placeholder="Filtro" />
                    <input type="button" class="btn btn-secondary " value="BUSCAR" onclick="RecargarTablaProspectos()" />
                </div>
            </div>
        </div>
    </div>
    <div class="pull-right">
        <a href="@Url.Action("Crear", "Prospecto", new { Area = "Gestion", id = Model.EmpresaId })" class="btn btn-primary">Adicionar</a>
    </div>
</div>

<!--Tabla-->
<div class="row">
    <div class="col-md-12">
        <table id="tabla-prospectos" class="table table-striped table-bordered compact text-center" cellpadding="0" width="100%">
            <thead>
                <tr>
                    <th class="text-center">Nombres</th>
                    <th class="text-center">Tipo Documento</th>
                    <th class="text-center">Documento</th>
                    <th class="text-center">Sexo</th>
                    <th class="text-center">Telefono</th>
                    <th class="text-center">Celular</th>
                    <th class="text-center">Cargo</th>
                    <th class="text-center">Modalidad de Pago</th>
                    <th class="text-center">Salario</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<script>
    var URL_EDITAR_PROSPECTO = "@Url.Action("Editar", "Prospecto", new { Area = "Gestion" })";
    var URL_VER_CUADRO_COSTOS = "@Url.Action("Ver", "Prospecto", new { Area = "Gestion" })";
    var PERMISO_EDITAR_PROSPECTO = ("@Sesion.HasPermission("GES-PROSPECTO_EDITAR")" === "True");
    var PERMISO_VER_CUADRO_COSTOS = ("@Sesion.HasPermission("GES-PROSPECTO_VER_CUADRO_COSTOS")" === "True");
</script>
