@{
    ViewBag.Title = "Listar";
}

<!--Filtro de la tabla-->
<div class="row">
    <div class="col-md-12">
        <div class="col-md-6">
            <div id="form-filtro-tabla" class="form-inline">
                <div class="form-group">
                    <input type="search" name="input-filtro" id="input-filtro" class="form-control" placeholder="Filtro" />
                    <input type="button" class="btn btn-secondary" value="BUSCAR" onclick="ListarSolicitudesAdministrativas.reconstruirTabla()" />
                    <input type="button" class="btn btn-secondary" value="VER TODO" onclick="ListarSolicitudesAdministrativas.ResetearTablaPais()" />
                </div>
            </div>
        </div>
        @*@if (Sesion.HasPermission("PAR-SALARIO-INTEGRAL-CREAR))
            {*@
        <div class="col-md-1 col-md-offset-5">
            <a href="@Url.Action("Crear", "TiposSolicitudesAdministrativas", new {Area = "Gestion"})" class="btn btn-primary" data-toggle="modal" data-target="#">Adicionar</a>
        </div>
        @*}*@
    </div>
</div>

<hr />

<!--Tabla-->
<div class="row">
    <div class="col-md-12">
        <table id="tabla-solicitudes" class="table table-striped table-bordered compact text-center" cellpadding="0" width="100%">
            <thead>
                <tr>
                    <th class="text-center">Nombre</th>
                    <th class="text-center">Departamento</th>
                    <th class="text-center">Estado</th>
                    <th class="text-center">Acción</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@Styles.Render("~/bundles/dataTables.css")

@section Scripts{
    @Scripts.Render("~/bundles/dataTables.js")

    <script type="text/javascript">
        var urlListar = "@Url.Action("Listar", "TiposSolicitudesAdministrativas", new { area = "Gestion" })";
        var urlEditar = "@Url.Action("Editar", "TiposSolicitudesAdministrativas", new { area = "Gestion" })";
    </script>

    @Scripts.Render("~/Areas/Gestion/Scripts/TipoSolicitudesAdministrativas/Listar.js")
    @Scripts.Render("~/Areas/Gestion/Scripts/TipoSolicitudesAdministrativas/Crear.js")
}

