@model ListarEmpresaProveedorContactoViewModel
@{
    ViewBag.Title = "Lista de contactos de proveedores";
}

<div class="col-md-12 text-center">
    <h3>@Model.NombreComercial</h3>
    <br />
    @if (Model.LogoPath != null)
    {
        <img src="@Url.Content(Model.LogoPath)" class="img-responsive img-center" />
    }
</div>

<div class="clearfix"></div>
<div class="ln_solid"></div>

<div class="col-md-12">
    <div class="pull-left">
        <form id="form-filtro-tabla-documento-legal" action="#" class="form-inline">
            <div class="form-group col-md-6 padding-left-0">
                @Html.DropDownListFor(m => m.ProveedorId, Model.ListaProveedores, "Seleccione Proveedor", new
                {
                    @class = "form-control selecpicker",
                    onchange = "OnChangeProveedor(this)"
                })
            </div>
            <div class="form-group">
                <input type="search" class="form-control" placeholder="Filtro" />
                <input type="submit" class="btn btn-secondary" value="BUSCAR" />
            </div>
        </form>
    </div>
    <div class="pull-right">
        @if (Sesion.HasPermission("GES-EMPRESA_PROVEEDOR_CONTACTO_CREAR"))
        {
            <a href="@Url.Action("Crear", "EmpresaProveedorContacto", new { Area = "Gestion",id = Model.EmpresaId})" class="btn btn-secondary">
                Crear contacto
            </a>
        }
    </div>
</div>

<!--Tabla-->
<div class="row">
    <div class="col-md-12">
        <table id="tabla-empresa-proveedor-contacto" class="table table-striped table-bordered compact text-center" cellpadding="0" width="100%">
            <thead>
                <tr>
                    <th class="text-center">Nombre</th>
                    <th class="text-center">Cargo</th>
                    <th class="text-center">Correo</th>
                    <th class="text-center">Teléfono</th>
                    <th class="text-center">Celular</th>
                    <th class="text-center">Proveedor</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@Styles.Render("~/bundles/dataTables.css")
<!--Script listar paises-->
@section Scripts{

    @Scripts.Render("~/bundles/dataTables.js")
    <script type="text/javascript">
        var URL_EMPRESA_PROVEEDOR_CONTACTO = "@Url.Action("Listar", "EmpresaProveedorContacto", new { Area = "Gestion", id = Model.EmpresaId })";
        var URL_EMPRESA_PROVEEDOR_CONTACTO_EDITAR = "@Url.Action("Editar", "EmpresaProveedorContacto", new { Area = "Gestion" })";
        var PERMISO_EDITAR_EMPRESA_PROVEEDOR = ("@Sesion.HasPermission("GES-EMPRESA_PROVEEDOR_CONTACTO_EDITAR")" === "True");
    </script>
    @Scripts.Render("~/Areas/Gestion/scripts/EmpresaProveedorContacto/Listar.js")
}