@model CrearEmpresaDocumentoLegalViewModel
@{
    ViewBag.Title = "Crear documento legal empresa";
    var ListaTipoDocumentoLegal = ViewBag.ListaTipoDocumentoLegal as IEnumerable<SelectListItem>;
}

<!--Formulario-->
@using (Html.BeginForm("Crear", "EmpresaDocumentoLegal", new { area = "Gestion" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.EmpresaId)

    <input type="hidden" id="EstadoListado" value="@ViewBag.Estado" />

    <div class="form-group col-md-12">
        @Html.ValidationMessage("Error", new { @class = "text-danger" })
        @Html.ValidationMessage("Success", new { @class = "text-success" })
    </div>

    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.Nombre, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Nombre, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-md-3">
        @Html.LabelFor(m => m.DocLegalEmpresaId, new { @class = "control-label" })
        @Html.DropDownListFor(m => m.DocLegalEmpresaId, ListaTipoDocumentoLegal, "Seleccione", new { @class = "form-control selectpicker", data_live_search = "true" })
        @Html.ValidationMessageFor(m => m.DocLegalEmpresaId, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-3">
        @Html.LabelFor(m => m.FechaVencimiento, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.FechaVencimiento, new { @class = "form-control datepicker" })
        @Html.ValidationMessageFor(m => m.FechaVencimiento, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.Documento, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Documento, new { type = "file" })
        @Html.ValidationMessageFor(m => m.Documento, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        <div class="form-group">
            @Html.LabelFor(m => m.NotificarCorreos, new { @class = "control-label col-md-12 padding-left-0 padding-right-0" })
            <div class="col-md-10 padding-left-0">
                <input type="email" id="NotificarCorreos" class="form-control" />
            </div>
            @Html.ValidationMessageFor(m => m.NotificarCorreos, "", new { @class = "text-danger" })
        </div>
        <div class="form-group text-right">
            <button type="button" onclick="DocumentoLegalCrear.AdicionarEmail()" class="btn btn-secondary">Adicionar</button>
        </div>
        <div class="clearfix"></div>
        <!--Contenedor de emails-->
        <div name="contenedor-form-email" id="contenedor-form-email">
            <div class="form-group col-md-12">
                <table id="tabla-Email" class="table table-striped table-bordered compact text-center" cellpadding="0" width="100%"></table>
            </div>
        </div>
    </div>

    <div class="form-group col-md-12 text-right">
        <button type="submit" class="btn btn-secondary">Guardar</button>
        <a class="btn btn-warning" href="@Url.Action("Listar", "EmpresaDocumentoLegal", new { Area = "Gestion", id = Model.EmpresaId })">Cancelar</a>
    </div>
}

@Styles.Render("~/bundles/dataTables.css")

@section Scripts{
    @Scripts.Render("~/bundles/dataTables.js")
    <script>
        var URL_LISTADO_DOC_LEGALES = '@Url.Action("Listar", "EmpresaDocumentoLegal", new { Area = "Gestion", id = Model.EmpresaId })';
    </script>
    @Scripts.Render("~/Areas/Gestion/scripts/EmpresaDocumentoLegal/Crear.js")
}