@model ConsultarEmpresaViewModel
@{
    ViewBag.Title = "Información empresa";
}

<div class="pull-right">
    @if (Sesion.HasPermission("GES-EMPRESA_LISTAR"))
    {
        <a href="@Url.Action("Listar", "EmpresaDocumentoLegal", new { Area = "Gestion", id = Model.Id })" class="btn btn-secondary" title="Documentos Legales">
            Documentos legales
        </a>
    }
    @if (Sesion.HasPermission("GES-EMPRESA_EDITAR"))
    {
        <a href="@Url.Action("Editar", "Empresa", new { Area = "Gestion", id = Model.Id })" class="btn btn-secondary" title="Editar">
            Editar
        </a>
    }
</div>

<div class="clearfix"></div>

<!--Datos Basicos-->
<div class="form-group col-md-4">
    @if (Model.LogoPath != null)
    {
        <img src="@Url.Content(Model.LogoPath)" class="img-responsive img-center" />
    }
</div>
<div class="clearfix"></div>
<div class="form-group col-md-6">
    @Html.LabelFor(m => m.NombreComercial, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.NombreComercial, new { @class = "form-control", @readonly = "readonly" })
</div>
<div class="form-group col-md-6">
    @Html.LabelFor(m => m.RazonSocial, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.RazonSocial, new { @class = "form-control", @readonly = "readonly" })
</div>
<div class="form-group col-md-6">
    @Html.LabelFor(m => m.Nit, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.Nit, new { @class = "form-control", @readonly = "readonly" })
</div>
<div class="form-group col-md-2">
    @Html.LabelFor(m => m.Pais, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.Pais, new { @class = "form-control", @readonly = "readonly" })
</div>
<div class="form-group col-md-2">
    @Html.LabelFor(m => m.Departamento, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.Departamento, new { @class = "form-control", @readonly = "readonly" })
</div>
<div class="form-group col-md-2">
    @Html.LabelFor(m => m.Ciudad, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.Ciudad, new { @class = "form-control", @readonly = "readonly" })
</div>
<div class="form-group col-md-6">
    @Html.LabelFor(m => m.Direccion, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.Direccion, new { @class = "form-control", @readonly = "readonly" })
</div>
<div class="form-group col-md-6">
    @Html.LabelFor(m => m.Telefono, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.Telefono, new { @class = "form-control", @readonly = "readonly" })
</div>
<div class="form-group col-md-6">
    @Html.LabelFor(m => m.Correo, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.Correo, new { @class = "form-control", @readonly = "readonly" })
</div>
<div class="form-group col-md-6">
    @Html.LabelFor(m => m.FechaAniversario, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.FechaAniversario, new { @class = "form-control", @readonly = "readonly" })
</div>
<div class="form-group col-md-6">
    @Html.LabelFor(m => m.CajaCompensacion, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.CajaCompensacion, new { @class = "form-control", @readonly = "readonly" })
</div>
<div class="form-group col-md-6">
    @Html.LabelFor(m => m.NotaLegalGeneral, new { @class = "control-label" })
    @Html.TextAreaFor(m => m.NotaLegalGeneral, new { @class = "form-control", @readonly = "readonly" })
</div>
<div class="form-group col-md-6">
    @Html.LabelFor(m => m.NotaLegalOC, new { @class = "control-label" })
    @Html.TextAreaFor(m => m.NotaLegalOC, new { @class = "form-control", @readonly = "readonly" })
</div>
<div class="form-group col-md-6">
    @Html.LabelFor(m => m.NotaLegalOP, new { @class = "control-label" })
    @Html.TextAreaFor(m => m.NotaLegalOP, new { @class = "form-control", @readonly = "readonly" })
</div>
<div class="form-group col-md-3">
    @Html.LabelFor(m => m.Volumen, new { @class = "control-label" })
    @Html.CheckBoxFor(m => m.Volumen, new { @class = "form-control", @disabled = "disabled" })
    @Html.ValidationMessageFor(m => m.Volumen, "", new { @class = "text-danger" })
</div>
<div class="form-group col-md-3">
    @Html.LabelFor(m => m.EstadoTexto, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.EstadoTexto, new { @class = "form-control", @readonly = "readonly" })
</div>

<div class="clearfix"></div>
<div class="ln_solid"></div>

<!--Representante Legal-->
<div class="form-group col-md-6">
    @Html.LabelFor(m => m.RepresentanteLegal, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.RepresentanteLegal, new { @class = "form-control", @readonly = "readonly" })
</div>

<!--Suplente Representante Legal-->
<div class="form-group col-md-6">
    @Html.LabelFor(m => m.SuplenteRepresentanteLegal, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.SuplenteRepresentanteLegal, new { @class = "form-control", @readonly = "readonly" })
</div>

<div class="clearfix"></div>
<div class="ln_solid"></div>

<div class="col-md-6">
    <div class="form-group col-md-12">
        <label class="control-label">Director(es)</label>
    </div>
    <table id="TableDirector" class="table table-striped table-bordered compact text-center" cellpadding="0" width="100%">
        <thead>
            <tr>
                <th class="text-center">Nombre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Directores)
            {
                <tr>
                    <td>@item</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="col-md-6">
    <div class="form-group col-md-12">
        <label class="control-label">Redes Sociales</label>
    </div>
    <table id="TableRedes" class="table table-striped table-bordered compact text-center" cellpadding="0" width="100%">
        <thead>
            <tr>
                <th class="text-center">Nombre</th>
                <th class="text-center">Logo</th>
                <th class="text-center">Link</th>
            </tr>
        </thead>
        <tbody>
            @foreach (dynamic item in Model.RedesSociales)
            {
                <tr>
                    <td>@item.NombreRedSocial</td>
                    <td><img src="@Url.Content(item.LogoRedSocialPath)" /></td>
                    <td>@item.UrlRedSocial</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@Styles.Render("~/bundles/dataTables.css")

@section Scripts{
    @Scripts.Render("~/bundles/dataTables.js")
    @Scripts.Render("~/Areas/Gestion/scripts/Empresa/Ver.js")
}