@model VerEmpresaClientesViewModel
@{
    ViewBag.Title = "Detalle cliente";
}

<div class="form-group col-md-6">
    @Html.LabelFor(m => m.NombreComercial, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.NombreComercial, new { @class = "form-control", @readonly = "readonly" })
</div>
<div class="form-group col-md-6">
    @Html.LabelFor(m => m.NombreLegal, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.NombreLegal, new { @class = "form-control", @readonly = "readonly" })
</div>
<div class="form-group col-md-6">
    @Html.LabelFor(m => m.Nit, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.Nit, new { @class = "form-control", @readonly = "readonly" })
</div>
<div class="form-group col-md-6">
    @Html.LabelFor(m => m.FechaAniversario, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.FechaAniversario, new { @class = "form-control", @readonly = "readonly" })
</div>
<div class="form-group col-md-2">
    @Html.LabelFor(m => m.Pais, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.Pais, new { @class = "form-control", @readonly = "readonly" })
</div>
<div class="form-group col-md-2">
    @Html.LabelFor(m => m.Departamento, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.Departamento, new { @class = "form-control", @readonly = "readonly" })
</div>
<div class="form-group col-md-2">
    @Html.LabelFor(m => m.Ciudad, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.Ciudad, new { @class = "form-control", @readonly = "readonly" })
</div>
<div class="form-group col-md-3">
    @Html.LabelFor(m => m.Telefono, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.Telefono, new { @class = "form-control", @readonly = "readonly" })
</div>
<div class="form-group col-md-3">
    @Html.LabelFor(m => m.Direccion, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.Direccion, new { @class = "form-control", @readonly = "readonly" })
</div>
<div class="form-group col-md-6">
    @Html.LabelFor(m => m.CorreoContacto, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.CorreoContacto, new { @class = "form-control", @readonly = "readonly" })
</div>
<div class="form-group col-md-6">
    @Html.LabelFor(m => m.CorreoGerente, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.CorreoGerente, new { @class = "form-control", @readonly = "readonly" })
</div>
