@model CrearOrdenTrabajoViewModel
@{
    ViewBag.Title = "Crear orden de trabajo";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title"> @ViewBag.Title</h4>
</div>

<div class="modal-body">
    @using (Ajax.BeginForm("Crear", "OrdenTrabajo", new { Area = "Trafico" },
    new AjaxOptions
    {
        HttpMethod = "POST",
        OnComplete = "ORDEN_TRABAJO_CREAR.OnComplete"
    },
    new { @class = "", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="clearfix"></div>
        @Html.ValidationMessage("Error", new { @class = "text-danger" })
        @Html.ValidationMessage("Success", new { @class = "text-success" })
        @Html.ValidationSummary(false, "", new { @class = "alert alert-danger small col-md-12" })
        <div class="clearfix"></div>

        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.EmpresaId, new { @class = "control-label" })
            @Html.DropDownListFor(m => m.EmpresaId, Model.ListaEmpresas, "Seleccione",
     new
     {
         @class = "form-control selectpicker",
         data_live_search = true,
         onchange = "ORDEN_TRABAJO_CREAR.OnchangeEmpresa(this)"
     })
            @Html.ValidationMessageFor(m => m.EmpresaId, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.UnidadNegocioId, new { @class = "control-label" })
            @Html.DropDownListFor(m => m.UnidadNegocioId, new List<SelectListItem>(), "Seleccione",
            new
            {
                @class = "form-control selectpicker",
                data_live_search = true,
            })
            @Html.ValidationMessageFor(m => m.UnidadNegocioId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.ClienteId, new { @class = "control-label" })
            @Html.DropDownListFor(m => m.ClienteId, new List<SelectListItem>(), "Seleccione",
            new
            {
                @class = "form-control selectpicker",
                data_live_search = true,
                onchange = "ORDEN_TRABAJO_CREAR.OnchangeCliente(this)"
            })
            @Html.ValidationMessageFor(m => m.ClienteId, "", new { @class = "text-danger" })
        </div>
        <div class="clearfix"></div>
        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.ProductoId, new { @class = "control-label" })
            @Html.DropDownListFor(m => m.ProductoId, new List<SelectListItem>(), "Seleccione",
            new
            {
                @class = "form-control selectpicker",
                data_live_search = true,
            })
            @Html.ValidationMessageFor(m => m.ProductoId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.ProfesionalClienteId, new { @class = "control-label" })
            @Html.DropDownListFor(m => m.ProfesionalClienteId, new List<SelectListItem>(), "Seleccione",
            new
            {
                @class = "form-control selectpicker",
                data_live_search = true,
            })
            @Html.ValidationMessageFor(m => m.ProfesionalClienteId, "", new { @class = "text-danger" })
        </div>
        <div class="clearfix"></div>
        <div class="form-group col-md-4">
            @Html.LabelFor(m => m.DirectorId, new { @class = "control-label" })
            @Html.DropDownListFor(m => m.DirectorId, Model.ListaDirectores, "Seleccione",
            new
                 {
                @class = "form-control selectpicker",
                data_live_search = "true"
            })
            @Html.ValidationMessageFor(m => m.DirectorId, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-4">
            @Html.LabelFor(m => m.EjecutivoId, new { @class = "control-label" })
            @Html.DropDownListFor(m => m.EjecutivoId, new List<SelectListItem>(), "Seleccione",
            new
                 {
                @class = "form-control selectpicker",
                data_live_search = "true"
            })
            @Html.ValidationMessageFor(m => m.EjecutivoId, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-4">
            @Html.LabelFor(m => m.ProductorEjecutivoId, new { @class = "control-label" })
            @Html.DropDownListFor(m => m.ProductorEjecutivoId, new List<SelectListItem>(), "Seleccione",
            new
                 {
                @class = "form-control selectpicker",
                data_live_search = "true"
            })
        </div>
        <div class="form-group col-md-12">
            @Html.LabelFor(m => m.Referencia, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Referencia, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Referencia, "", new { @class = "text-danger" })
        </div>
        <div class="clearfix"></div>
        <div class="form-group col-md-12">
            @Html.LabelFor(m => m.Descripcion, new { @class = "control-label" })
            @Html.TextAreaFor(m => m.Descripcion, new { @class = "form-control" })
        </div>
        <div class="clearfix"></div>
        <div class="text-right">
            <button type="submit" class="btn btn-success">Guardar</button>
            <button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>
        </div>
        <div class="clearfix"></div>
    }
</div>