<h1>Legalización Rechazada</h1>
<h2>Datos del Presupuesto</h2>
<p>Número de Presupuesto: @Model.PresupuestoId</p>
<p>Empresa: @Model.Empresa</p>
<p>Cliente: @Model.Cliente</p>
<p>Producto: @Model.Producto</p>
<p>Órden de Trabajo: @Model.OrdenTrabajo</p>
<p>Enviado por: @Model.EnviadoPor</p>
<p>Fecha y Hora de la solicitud de aprobación: @Model.FechaHora</p>
<br />
<h2>Datos de la legalización</h2>
<p>Número del anticipo: @Model.AnticipoId</p>
<p>Número de la legalizacón: @Model.LegalizacionId</p>
<p>Versión: @Model.Version</p>
<p>Valor legalización: @Model.TotalValor</p>
<p>Impuestos: @Model.TotalImpuestos</p>
<p>Total: @Model.Total</p>
<p>Estado legalización: @Model.EstadoLegalizacion</p>
<br />