@model AlimentarPresupuestoGeneralViewModel
@{
    ViewBag.Title = "Alimentar Costos Presupuesto " + Model.Anio;
}

<style>
    /*****TABLA ALIMENTAR PRESUPUESTO GENERAL*****/
    .table-alimentar-presupuesto {
        border: 0px;
        color: #222;
    }

    table.table-alimentar-presupuesto thead {
        margin-bottom: 10px !important;
    }

        table.table-alimentar-presupuesto thead th,
        table.table-alimentar-presupuesto tfoot th {
            margin-bottom: 10px;
            font-size: 13px;
            background-color: #126887;
            border: 2px solid #fff;
            color: #fff;
        }

        table.table-alimentar-presupuesto thead tr.tr-titulos th.th-titulo {
            background-color: #126887;
        }

            table.table-alimentar-presupuesto thead tr.tr-titulos th.th-titulo[data-mes] {
                background-color: #acb9c9;
            }

                table.table-alimentar-presupuesto thead tr.tr-titulos th.th-titulo[data-mes]:nth-child(2n) {
                    background-color: #fdba4f;
                }

        table.table-alimentar-presupuesto thead tr.tr-sub-titulos th:first-child {
            min-width: 300px;
        }

        table.table-alimentar-presupuesto thead tr.tr-sub-titulos th.th-titulo[data-mes] {
            background-color: #acb9c9;
        }

            table.table-alimentar-presupuesto thead tr.tr-sub-titulos th.th-titulo[data-mes].presupuestado {
                background-color: #008DBF;
            }

            table.table-alimentar-presupuesto thead tr.tr-sub-titulos th.th-titulo[data-mes].pagado {
                background-color: #146FBF;
            }

            table.table-alimentar-presupuesto thead tr.tr-sub-titulos th.th-titulo[data-mes].diferencia {
                background-color: #3D5099;
            }

        table.table-alimentar-presupuesto thead th:first-child {
            border-radius: 10px 0 0 10px;
            border-left: none;
        }

        table.table-alimentar-presupuesto thead th:last-child {
            border-radius: 0 10px 10px 0;
            border-right: none;
        }

    table.table-alimentar-presupuesto tfoot th:first-child {
        border-radius: 10px 0 0 10px;
        border-left: none;
    }

    table.table-alimentar-presupuesto tbody tr {
        background-color: #F9F9F9;
    }

        table.table-alimentar-presupuesto tbody tr.tr-grupo {
            background-color: #002F40;
            font-weight: bold;
            color: #fff;
        }

        table.table-alimentar-presupuesto.stripe tbody tr.odd,
        table.table-alimentar-presupuesto.display tbody tr.odd,
        table.table-alimentar-presupuesto tbody tr.odd {
            background-color: #e2e2e2;
        }

        table.table-alimentar-presupuesto tbody tr td {
            border: 2px solid #fff;
        }

        table.table-alimentar-presupuesto tbody tr:first-child td:first-child {
            border-radius: 10px 0 0 0;
        }

        table.table-alimentar-presupuesto tbody tr:first-child td:last-child {
            border-radius: 0 10px 0 0;
        }

        table.table-alimentar-presupuesto tbody tr:last-child td:first-child {
            border-radius: 0 0 0 10px;
        }

        table.table-alimentar-presupuesto tbody tr:last-child td:last-child {
            border-radius: 0 0 10px 0;
        }

    table.table-alimentar-presupuesto tfoot tr th {
        background-color: #126887;
        font-weight: bold;
        color: #fff;
    }

    .table-alimentar-presupuesto input[type=number] {
        width: 80px;
    }

    .table-alimentar-presupuesto input.input-total {
        width: 150px;
    }

    .table-alimentar-presupuesto input.porcentaje {
        width: 70px;
    }

    .table-alimentar-presupuesto .valor-pagado-gris {
        border: 2px solid gray !important;
    }

    .table-alimentar-presupuesto .valor-pagado-rojo {
        border: 2px solid red !important;
    }

    .table-alimentar-presupuesto .valor-pagado-verde {
        border: 2px solid green !important;
    }

    .table-alimentar-presupuesto input[data-format-price] {
        text-align: right;
        min-width: 150px;
    }

    table {
  display: block;
  overflow-x: auto;
   
  
}

.static {
  position: absolute;
   background-color: white;
     width: 300px;
     height :63px;
  overflow: auto;
      
   z-index:10;
  
}


    /*****FIN TABLA ALIMENTAR PRESUPUESTO GENERAL*****/
</style>

@using (Ajax.BeginForm("Alimentar", "PresupuestoGeneral", new { Area = "Gestion" },
    new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "OnBeginAlimentarPresupuestoGeneral",
        OnComplete = "OnCompleteAlimentarPresupuestoGeneral"
    },
    new { @class = "", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="clearfix"></div>
    @Html.ValidationMessage("Error", new { @class = "text-danger" })
    @Html.ValidationMessage("Success", new { @class = "text-success" })
    @Html.ValidationSummary(false, "", new { @class = "alert alert-danger small col-md-12" })
    <div class="clearfix"></div>

    @Html.HiddenFor(m => m.PresupuestoGeneralId)

    <div class="clearfix"></div>
    <div class="col-md-12 overflow-auto">
        <table id="tabla-alimentar" class="table table-striped table-bordered compact text-center table-alimentar-presupuesto" cellpadding="0" width="100%">
            <thead>
                <tr class="tr-titulos">
                    <th class="text-center th-titulo" colspan="4">Gastos Administrativos</th>
                </tr>
                <tr class="tr-sub-titulos">
                    <th class="text-center th-titulo">Costos Fijos</th>
                    <th class="text-center th-titulo">Presupuesto Mensual</th>
                    <th class="text-center th-titulo">Presupuesto Anual</th>
                    <th class="text-center th-titulo">%</th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <th class="text-center th-total">Total</th>
                    <th class="text-center th-total">
                        <div class="input-group">
                            <label class="input-group-addon">$</label>
                            <input type="text" id="input-total-item-mes" readonly="readonly" class="form-control text-right input-total" data-format-price />
                        </div>
                    </th>
                    <th class="text-center th-total">
                        <div class="input-group">
                            <label class="input-group-addon">$</label>
                            <input type="text" id="input-total-item-anio" readonly="readonly" class="form-control text-right input-total" data-format-price />
                        </div>
                    </th>
                    <th class="text-center th-total">
                        <div class="input-group">
                        </div>
                    </th>


                    <th class="text-center th-total-presupuestado">
                        <div class="input-group">
                            <label class="input-group-addon">$</label>
                            <input type="text" id="input-total-item-mes-enero" readonly="readonly" class="form-control text-right input-total" data-format-price />
                        </div>
                    </th>
                    <th class="text-center th-total-percent">
                        <div class="input-group">
                        </div>
                    </th>
                    <th class="text-center th-total-pagado">
                        <div class="input-group">
                            <label class="input-group-addon">$</label>
                            <input type="text" id="input-mes-enero" readonly="readonly" class="form-control text-right input-total" data-format-price />
                        </div>
                    </th>
                    <th class="text-center th-total-percent">
                        <div class="input-group">
                        </div>
                    </th>
                    <th class="text-center th-total-diferencia">
                        <div class="input-group">
                            <label class="input-group-addon">$</label>
                            <input type="text" id="input-mes-enero-diferencia" readonly="readonly" class="form-control text-right input-total" data-format-price />
                        </div>
                    </th>
                    <th class="text-center th-total-percent">
                        <div class="input-group">
                        </div>
                    </th>



                    <th class="text-center th-total-presupuestado">
                        <div class="input-group">
                            <label class="input-group-addon">$</label>
                            <input type="text" id="input-total-item-mes-febrero" readonly="readonly" class="form-control text-right input-total" data-format-price />
                        </div>
                    </th>
                    <th class="text-center th-total-percent">
                        <div class="input-group">
                        </div>
                    </th>
                    <th class="text-center th-total-pagado">
                        <div class="input-group">
                            <label class="input-group-addon">$</label>
                            <input type="text" id="input-mes-febrero" readonly="readonly" class="form-control text-right input-total" data-format-price />
                        </div>
                    </th>
                    <th class="text-center th-total-percent">
                        <div class="input-group">
                        </div>
                    </th>

                    <th class="text-center th-total-diferencia">
                        <div class="input-group">
                            <label class="input-group-addon">$</label>
                            <input type="text" id="input-mes-febrero-diferencia" readonly="readonly" class="form-control text-right input-total" data-format-price />
                        </div>
                    </th>
                    <th class="text-center th-total-percent">
                        <div class="input-group">
                        </div>
                    </th>




                    <th class="text-center th-total-presupuestado">
                        <div class="input-group">
                            <label class="input-group-addon">$</label>
                            <input type="text" id="input-total-item-mes-marzo" readonly="readonly" class="form-control text-right input-total" data-format-price />
                        </div>
                    </th>
                    <th class="text-center th-total-percent">
                        <div class="input-group">
                        </div>
                    </th>
                    <th class="text-center th-total-pagado">
                        <div class="input-group">
                            <label class="input-group-addon">$</label>
                            <input type="text" id="input-mes-marzo" readonly="readonly" class="form-control text-right input-total" data-format-price />
                        </div>
                    </th>
                    <th class="text-center th-total-percent">
                        <div class="input-group">
                        </div>
                    </th>

                    <th class="text-center th-total-diferencia">
                        <div class="input-group">
                            <label class="input-group-addon">$</label>
                            <input type="text" id="input-mes-marzo-diferencia" readonly="readonly" class="form-control text-right input-total" data-format-price />
                        </div>
                    </th>
                    <th class="text-center th-total-percent">
                        <div class="input-group">
                        </div>

                    </th>


                    <th class="text-center th-total-presupuestado">
                        <div class="input-group">
                            <label class="input-group-addon">$</label>
                            <input type="text" id="input-total-item-mes-abril" readonly="readonly" class="form-control text-right input-total" data-format-price />
                        </div>
                    </th>
                    <th class="text-center th-total-percent">
                        <div class="input-group">
                        </div>
                    </th>
                    <th class="text-center th-total-pagado">
                        <div class="input-group">
                            <label class="input-group-addon">$</label>
                            <input type="text" id="input-mes-abril" readonly="readonly" class="form-control text-right input-total" data-format-price />
                        </div>
                    </th>
                    <th class="text-center th-total-percent">
                        <div class="input-group">
                        </div>
                    </th>

                    <th class="text-center th-total-diferencia">
                        <div class="input-group">
                            <label class="input-group-addon">$</label>
                            <input type="text" id="input-mes-abril-diferencia" readonly="readonly" class="form-control text-right input-total" data-format-price />
                        </div>
                    </th>
                    <th class="text-center th-total-percent">
                        <div class="input-group">
                        </div>
                    </th>


                    <th class="text-center th-total-presupuestado">
                        <div class="input-group">
                            <label class="input-group-addon">$</label>
                            <input type="text" id="input-total-item-mes-mayo" readonly="readonly" class="form-control text-right input-total" data-format-price />
                        </div>
                    </th>
                    <th class="text-center th-total-percent">
                        <div class="input-group">
                        </div>
                    </th>
                    <th class="text-center th-total-pagado">
                        <div class="input-group">
                            <label class="input-group-addon">$</label>
                            <input type="text" id="input-mes-mayo" readonly="readonly" class="form-control text-right input-total" data-format-price />
                        </div>
                    </th>
                    <th class="text-center th-total-percent">
                        <div class="input-group">
                        </div>
                    </th>

                    <th class="text-center th-total-diferencia">
                        <div class="input-group">
                            <label class="input-group-addon">$</label>
                            <input type="text" id="input-mes-mayo-diferencia" readonly="readonly" class="form-control text-right input-total" data-format-price />
                        </div>
                    </th>
                    <th class="text-center th-total-percent">
                        <div class="input-group">
                        </div>
                    </th>


                    <th class="text-center th-total-presupuestado">
                        <div class="input-group">
                            <label class="input-group-addon">$</label>
                            <input type="text" id="input-total-item-mes-junio" readonly="readonly" class="form-control text-right input-total" data-format-price />
                        </div>
                    </th>
                    <th class="text-center th-total-percent">
                        <div class="input-group">
                        </div>
                    </th>
                    <th class="text-center th-total-pagado">
                        <div class="input-group">
                            <label class="input-group-addon">$</label>
                            <input type="text" id="input-mes-junio" readonly="readonly" class="form-control text-right input-total" data-format-price />
                        </div>
                    </th>
                    <th class="text-center th-total-percent">
                        <div class="input-group">
                        </div>
                    </th>

                    <th class="text-center th-total-diferencia">
                        <div class="input-group">
                            <label class="input-group-addon">$</label>
                            <input type="text" id="input-mes-junio-diferencia" readonly="readonly" class="form-control text-right input-total" data-format-price />
                        </div>
                    </th>
                    <th class="text-center th-total-percent">
                        <div class="input-group">
                        </div>
                    </th>


                    <th class="text-center th-total-presupuestado">
                        <div class="input-group">
                            <label class="input-group-addon">$</label>
                            <input type="text" id="input-total-item-mes-julio" readonly="readonly" class="form-control text-right input-total" data-format-price />
                        </div>
                    </th>
                    <th class="text-center th-total-percent">
                        <div class="input-group">
                        </div>
                    </th>
                    <th class="text-center th-total-pagado">
                        <div class="input-group">
                            <label class="input-group-addon">$</label>
                            <input type="text" id="input-mes-julio" readonly="readonly" class="form-control text-right input-total" data-format-price />
                        </div>
                    </th>
                    <th class="text-center th-total-percent">
                        <div class="input-group">
                        </div>
                    </th>

                    <th class="text-center th-total-diferencia">
                        <div class="input-group">
                            <label class="input-group-addon">$</label>
                            <input type="text" id="input-mes-julio-diferencia" readonly="readonly" class="form-control text-right input-total" data-format-price />
                        </div>
                    </th>
                    <th class="text-center th-total-percent">
                        <div class="input-group">
                        </div>
                    </th>



                    <th class="text-center th-total-presupuestado">
                        <div class="input-group">
                            <label class="input-group-addon">$</label>
                            <input type="text" id="input-total-item-mes-agosto" readonly="readonly" class="form-control text-right input-total" data-format-price />
                        </div>
                    </th>
                    <th class="text-center th-total-percent">
                        <div class="input-group">
                        </div>
                    </th>
                    <th class="text-center th-total-pagado">
                        <div class="input-group">
                            <label class="input-group-addon">$</label>
                            <input type="text" id="input-mes-agosto" readonly="readonly" class="form-control text-right input-total" data-format-price />
                        </div>
                    </th>
                    <th class="text-center th-total-percent">
                        <div class="input-group">
                        </div>
                    </th>

                    <th class="text-center th-total-diferencia">
                        <div class="input-group">
                            <label class="input-group-addon">$</label>
                            <input type="text" id="input-mes-agosto-diferencia" readonly="readonly" class="form-control text-right input-total" data-format-price />
                        </div>
                    </th>
                    <th class="text-center th-total-percent">
                        <div class="input-group">
                        </div>
                    </th>


                    <th class="text-center th-total-presupuestado">
                        <div class="input-group">
                            <label class="input-group-addon">$</label>
                            <input type="text" id="input-total-item-mes-septiembre" readonly="readonly" class="form-control text-right input-total" data-format-price />
                        </div>
                    </th>
                    <th class="text-center th-total-percent">
                        <div class="input-group">
                        </div>
                    </th>
                    <th class="text-center th-total-pagado">
                        <div class="input-group">
                            <label class="input-group-addon">$</label>
                            <input type="text" id="input-mes-septiembre" readonly="readonly" class="form-control text-right input-total" data-format-price />
                        </div>
                    </th>
                    <th class="text-center th-total-percent">
                        <div class="input-group">
                        </div>
                    </th>

                    <th class="text-center th-total-diferencia">
                        <div class="input-group">
                            <label class="input-group-addon">$</label>
                            <input type="text" id="input-mes-septiembre-diferencia" readonly="readonly" class="form-control text-right input-total" data-format-price />
                        </div>
                    </th>
                    <th class="text-center th-total-percent">
                        <div class="input-group">
                        </div>
                    </th>


                    <th class="text-center th-total-presupuestado">
                        <div class="input-group">
                            <label class="input-group-addon">$</label>
                            <input type="text" id="input-total-item-mes-octubre" readonly="readonly" class="form-control text-right input-total" data-format-price />
                        </div>
                    </th>
                    <th class="text-center th-total-percent">
                        <div class="input-group">
                        </div>
                    </th>
                    <th class="text-center th-total-pagado">
                        <div class="input-group">
                            <label class="input-group-addon">$</label>
                            <input type="text" id="input-mes-octubre" readonly="readonly" class="form-control text-right input-total" data-format-price />
                        </div>
                    </th>
                    <th class="text-center th-total-percent">
                        <div class="input-group">
                        </div>
                    </th>

                    <th class="text-center th-total-diferencia">
                        <div class="input-group">
                            <label class="input-group-addon">$</label>
                            <input type="text" id="input-mes-octubre-diferencia" readonly="readonly" class="form-control text-right input-total" data-format-price />
                        </div>
                    </th>
                    <th class="text-center th-total-percent">
                        <div class="input-group">
                        </div>
                    </th>



                    <th class="text-center th-total-presupuestado">
                        <div class="input-group">
                            <label class="input-group-addon">$</label>
                            <input type="text" id="input-total-item-mes-noviembre" readonly="readonly" class="form-control text-right input-total" data-format-price />
                        </div>
                    </th>
                    <th class="text-center th-total-percent">
                        <div class="input-group">
                        </div>
                    </th>
                    <th class="text-center th-total-pagado">
                        <div class="input-group">
                            <label class="input-group-addon">$</label>
                            <input type="text" id="input-mes-noviembre" readonly="readonly" class="form-control text-right input-total" data-format-price />
                        </div>
                    </th>
                    <th class="text-center th-total-percent">
                        <div class="input-group">
                        </div>
                    </th>

                    <th class="text-center th-total-diferencia">
                        <div class="input-group">
                            <label class="input-group-addon">$</label>
                            <input type="text" id="input-mes-febrero-noviembre" readonly="readonly" class="form-control text-right input-total" data-format-price />
                        </div>
                    </th>
                    <th class="text-center th-total-percent">
                        <div class="input-group">
                        </div>
                    </th>


                    <th class="text-center th-total-presupuestado">
                        <div class="input-group">
                            <label class="input-group-addon">$</label>
                            <input type="text" id="input-total-item-mes-diciembre" readonly="readonly" class="form-control text-right input-total" data-format-price />
                        </div>
                    </th>
                    <th class="text-center th-total-percent">
                        <div class="input-group">
                        </div>
                    </th>
                    <th class="text-center th-total-pagado">
                        <div class="input-group">
                            <label class="input-group-addon">$</label>
                            <input type="text" id="input-mes-diciembre" readonly="readonly" class="form-control text-right input-total" data-format-price />
                        </div>
                    </th>
                    <th class="text-center th-total-percent">
                        <div class="input-group">
                        </div>
                    </th>

                    <th class="text-center th-total-diferencia">
                        <div class="input-group">
                            <label class="input-group-addon">$</label>
                            <input type="text" id="input-mes-diciembre-diferencia" readonly="readonly" class="form-control text-right input-total" data-format-price />
                        </div>
                    </th>
                    <th class="text-center th-total-percent">
                        <div class="input-group">
                        </div>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="col-md-12 text-right">
        <input type="submit" class="btn btn-success" value="Guardar" />
        <a href="@Url.Action("Listar", "PresupuestoGeneral", new { Area = "Gestion" } )" class="btn btn-warning">Cancelar</a>
    </div>
}

@Styles.Render("~/bundles/dataTables.css")

@section Scripts{
    @Scripts.Render("~/bundles/dataTables.js")
    <script type="text/javascript">
        var URL_LISTAR_ITEMS = "@Url.Action("ListarAlimentacionItems", "PresupuestoGeneral", new { Area = "Gestion", id = Model.PresupuestoGeneralId })";
    </script>
    @Scripts.Render("~/Areas/Gestion/scripts/PresupuestoGeneral/Alimentar.js")
}