@{
    ViewBag.Title = "Departamentos de Tráfico";
}

<!--Filtro de la tabla-->
<div class="row margin-top-1">
    <div class="col-md-10 text-left">
        <form id="form-filtro-tabla" class="form-inline">
            <div class="form-group">
                <input type="search" name="input-filtro" id="input-filtro" class="form-control" placeholder="Filtro" />
                <input type="submit" class="btn btn-secondary" value="BUSCAR" />
                <input type="button" class="btn btn-secondary" value="VER TODO" onclick="ResetearTablaDepartamentoTrafico()" />
            </div>
        </form>
    </div>
    @if (Sesion.HasPermission("GES-DEPARTAMENTO_TRAFICO_CREAR"))
    {
        <div class="col-md-2 text-right">
            <a href="@Url.Action("Crear", "DepartamentoTrafico", new {Area = "Gestion"})" class="btn btn-secondary" data-toggle="modal" data-target="#">Adicionar</a>
        </div>
    }
</div>

<!--Tabla-->
<div class="row">
    <div class="col-md-12">
        <table id="tabla-departamento-trafico" class="table table-striped table-bordered compact text-center" cellpadding="0" width="100%">
            <thead>
                <tr>
                    <th class="text-center">Nombre</th>
                    <th class="text-center">Estado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@Styles.Render("~/bundles/dataTables.css")

@section Scripts{
    @Scripts.Render("~/bundles/dataTables.js")

    <script type="text/javascript">
        var URL_LISTAR_DEPARTAMENTO_TRAFICO = "@Url.Action("Listar", "DepartamentoTrafico", new { Area = "Gestion" })";
        var URL_EDITAR_DEPARTAMENTO_TRAFICO = "@Url.Action("Editar", "DepartamentoTrafico", new { Area = "Gestion" })";
        var PERMISO_EDITAR_DEPARTAMENTO_TRAFICO = ("@Sesion.HasPermission("GES-DEPARTAMENTO_TRAFICO_EDITAR")" === "True");
    </script>

    @Scripts.Render("~/Areas/Gestion/scripts/DepartamentoTrafico/Listar.js")
    @Scripts.Render("~/Areas/Gestion/scripts/DepartamentoTrafico/Crear.js")
    @Scripts.Render("~/Areas/Gestion/scripts/DepartamentoTrafico/Editar.js")
}