@model TareaEditarFechaHoraEntregaViewModel
@{
    ViewBag.Title = "Editar fecha y hora de entrega - tarea # " + Model.Numero;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title"> @ViewBag.Title</h4>
</div>

<div class="modal-body">
    @using (Ajax.BeginForm("EditarFechaHoraEntrega", "Tarea", new { Area = "Trafico" },
        new AjaxOptions
        {
            HttpMethod = "POST",
            OnComplete = "TAREA_EDITAR_FECHA_HORA_ENTREGA.OnComplete",
            OnBegin = "TAREA_EDITAR_FECHA_HORA_ENTREGA.OnBegin"

        },
        new { @class = "", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="clearfix"></div>
        @Html.ValidationMessage("Error", new { @class = "text-danger" })
        @Html.ValidationMessage("Success", new { @class = "text-success" })
        @Html.ValidationSummary(false, "", new { @class = "alert alert-danger small col-md-12" })
        <div class="clearfix"></div>

        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.OrdenTrabajoId)
        <div class="form-group col-md-4">
            @Html.LabelFor(m => m.OrdenTrabajo, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.OrdenTrabajo, "", new { @class = "form-control", @readonly = "readonly" })
        </div>
        if (Model.PresupuestoId != null)
        {
            <div class="form-group col-md-4">
                @Html.LabelFor(m => m.PresupuestoId, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.PresupuestoId, "", new { @class = "form-control", @readonly = "readonly" })
            </div>
        }
        <div class="form-group col-md-4">
            @Html.LabelFor(m => m.TipoTarea, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.TipoTarea, "", new { @class = "form-control", @readonly = "readonly" })
        </div>
        <div class="form-group col-md-12">
            @Html.LabelFor(m => m.Titulo, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Titulo, "", new { @class = "form-control", @readonly = "readonly" })
        </div>
        <div class="form-group col-md-12">
            @Html.LabelFor(m => m.Descripcion, new { @class = "control-label" })
            @Html.TextAreaFor(m => m.Descripcion, new { @class = "form-control", @readonly = "readonly" })
        </div>
        <div class="form-group col-md-4">
            @Html.LabelFor(m => m.DepartamentoTrafico, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.DepartamentoTrafico, "", new { @class = "form-control", @readonly = "readonly" })
        </div>
        <div class="form-group col-md-8">
            @Html.LabelFor(m => m.EnviadaPor, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.EnviadaPor, "", new { @class = "form-control", @readonly = "readonly" })
        </div>
        <div class="form-group col-md-4">
            @Html.LabelFor(m => m.FechaEntrega, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.FechaEntrega, "", new { @class = "form-control", @readonly = "readonly" })
        </div>
        <div class="form-group col-md-4">
            @Html.LabelFor(m => m.HoraEntrega, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.HoraEntrega, "", new { @class = "form-control", @readonly = "readonly" })
        </div>
        <div class="form-group col-md-4">
            @Html.LabelFor(m => m.FechaHoraCreacion, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.FechaHoraCreacion, "", new { @class = "form-control", @readonly = "readonly" })
        </div>
        <div class="clearfix"></div>
        <div class="ln_solid"></div>
        <div class="form-group col-md-3">


            @Html.LabelFor(m => m.FechaEntregaNueva, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.FechaEntregaNueva, new { @class = "form-control datepicker" })
            @Html.ValidationMessageFor(m => m.FechaEntregaNueva, "", new { @class = "text-danger" })

           
        </div>
        <div class="form-group col-md-3">
            @Html.LabelFor(m => m.HoraEntregaNueva, new { @class = "control-label" })
            <div class="input-group date">
                @Html.TextBoxFor(m => m.HoraEntregaNueva, new { @class = "form-control input-small" })
                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
            </div>
            @Html.ValidationMessageFor(m => m.HoraEntregaNueva, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.DepartamentoTraficoId, new { @class = "control-label" })
            @Html.DropDownListFor(m => m.DepartamentoTraficoId, Model.ListaDepartamentosTrafico, "Seleccione", new { @class = "form-control selectpicker", data_live_search = true, onchange = "TAREA_EDITAR_FECHA_HORA_ENTREGA.OnChangeDepartamentoTraficoId(this)" })
            @Html.ValidationMessageFor(m => m.DepartamentoTraficoId, "", new { @class = "text-danger" })
        </div>

        <div class="clearfix"></div>

        <div class="form-group col-md-6">
            <label class="control-label">Responsable(s)</label>
            <table id="tabla_responsables" class="table table-striped table-bordered compact text-center" cellpadding="0" width="100%">
                <thead>
                    <tr>
                        <th class="text-center"></th>
                        <th class="text-center">Nombre</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <div class="form-group col-md-6">
            <label class="control-label">Asignado(s)</label>
            <table id="tabla_asignados" class="table table-striped table-bordered compact text-center" cellpadding="0" width="100%">
                <thead>
                    <tr>
                        <th class="text-center"></th>
                        <th class="text-center">Nombre</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="form-group col-md-12">
            @Html.LabelFor(m => m.Observaciones, new { @class = "control-label" })
            @Html.TextAreaFor(m => m.Observaciones, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Observaciones, "", new { @class = "text-danger" })
        </div>
        <div class="clearfix"></div>
        <div class="text-right">
            <a href="@Url.Action("Consultar", "Tarea", new { Area = "Trafico", id = Model.Id })" class="btn btn-secondary" data-toggle="modal" data-target="#" data-size="lg" data-execute-onload="TAREA_CONSULTAR.OnLoad">Volver</a>
            <button type="submit" class="btn btn-success">Editar</button>
            <button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>
        </div>
    }
</div>