@model ProcessPlusERP.Areas.Gestion.Models.ClienteContacto.RegistroClienteContactoViewmodel

@{
    ViewBag.Title = "Agregar contacto";
}

<script type="text/javascript" src="~/Areas/Gestion/Scripts/ClienteContacto/Crear.js"></script>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">@ViewBag.Title</h4>
</div>
<div class="modal-body">

    @using (Ajax.BeginForm("Crear", "ClienteContacto", new AjaxOptions { HttpMethod = "POST", OnComplete = "CrearContacto.onComplete" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.ClientesId)

        <div class="clearfix"></div>
            @Html.ValidationMessage("Error", new { @class = "text-danger" })
            @Html.ValidationMessage("Success", new { @class = "text-success" })
            @Html.ValidationSummary(false, "", new { @class = "alert alert-danger small col-md-12" })
        <div class="clearfix"></div>

        <!--Nombres-->
            <div class="form-group">
                @Html.LabelFor(m => m.PrimerNombre, new { @class = "control-label" }) (*)
                @Html.TextBoxFor(m => m.PrimerNombre, new { @class = "form-control", placeholder = "Primer nombre", maxlength = "100" })
                @Html.ValidationMessageFor(m => m.PrimerNombre, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.SegundoNombre, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.SegundoNombre, new { @class = "form-control", placeholder = "Segundo nombre", maxlength = "100" })
                @Html.ValidationMessageFor(m => m.SegundoNombre, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PrimerApellido, new { @class = "control-label" }) (*)
                @Html.TextBoxFor(m => m.PrimerApellido, new { @class = "form-control", placeholder = "Primer apellido", maxlength = "100" })
                @Html.ValidationMessageFor(m => m.PrimerApellido, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.SegundoApellido, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.SegundoApellido, new { @class = "form-control", placeholder = "Segundo apellido", maxlength = "100" })
                @Html.ValidationMessageFor(m => m.SegundoApellido, "", new { @class = "text-danger" })
            </div>
        <!--Nombres-->

        <!--FechaNacimiento-->
            <div class="form-group">
                @Html.LabelFor(m => m.FechaNacimiento, new { @class = "control-label" }) (*)
                @Html.TextBoxFor(m => m.FechaNacimiento, new { @class = "form-control", placeholder = "DD/MM/YYYY" })
                @Html.ValidationMessageFor(m => m.FechaNacimiento, "", new { @class = "text-danger" })
            </div>

        <!--Cargo-->
            <div class="form-group">
                @Html.LabelFor(m => m.Cargo, new { @class = "control-label" })
                @Html.DropDownListFor(m => m.Cargo, Model.Cargos, "Seleccione", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Cargo, "", new { @class = "text-danger" })
            </div>
        <!--Fin cargo-->

        <!--Contacto-->
            <div class="form-group">
                @Html.LabelFor(m => m.Telefono, new { @class = "control-label" }) (*)
                @Html.TextBoxFor(m => m.Telefono, new { @class = "form-control",  placeholder = "Número telefónico", maxlength = "15" })
                @Html.ValidationMessageFor(m => m.Telefono, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Celular, new { @class = "control-label" }) (*)
                @Html.TextBoxFor(m => m.Celular, new { @class = "form-control", placeholder = "Numero celular", maxlength = "15" })
                @Html.ValidationMessageFor(m => m.Celular, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Correo, new { @class = "control-label" }) (*)
                @Html.TextBoxFor(m => m.Correo, new { @class = "form-control", placeholder = "Correo de contacto", maxlength = "100" })
                @Html.ValidationMessageFor(m => m.Correo, "", new { @class = "text-danger" })
            </div>
        <!--Fin Contacto-->
        
        <div class="text-right">
            <button type="submit" class="btn btn-success" id="guardar" name="guardar">GUARDAR</button>
            <button type="button" class="btn btn-warning" data-dismiss="modal">CERRAR</button>
        </div>
    }
</div>

<script type="text/javascript">
    CrearContacto.init();
</script>
