@model EditarEmpresaClienteContactoViewModel

@{
    ViewBag.Title = "Agregar contacto";
}

<script type="text/javascript" src="~/Areas/Gestion/Scripts/ClienteContacto/Crear.js"></script>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">@ViewBag.Title</h4>
</div>
<div class="modal-body">

    @using (Ajax.BeginForm("Editar", "EmpresaClienteContacto", new AjaxOptions { HttpMethod = "POST", OnComplete = "CrearContacto.onComplete" }))
    {
        @Html.AntiForgeryToken()

        <div class="clearfix"></div>
        @Html.ValidationMessage("Error", new { @class = "text-danger" })
        @Html.ValidationMessage("Success", new { @class = "text-success" })
        @Html.ValidationSummary(false, "", new { @class = "alert alert-danger small col-md-12" })
        <div class="clearfix"></div>

        @Html.HiddenFor(m => m.Id)

        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.PrimerNombre, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.PrimerNombre, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.PrimerNombre, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.SegundoNombre, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.SegundoNombre, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.SegundoNombre, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.PrimerApellido, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.PrimerApellido, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.PrimerApellido, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.SegundoApellido, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.SegundoApellido, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.SegundoApellido, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.Cargo, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Cargo, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Cargo, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.Correo, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Correo, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Correo, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-3">
            @Html.LabelFor(m => m.Mes, new { @class = "control-label" })
            @Html.DropDownListFor(m => m.Mes, Model.ListaMes, "Seleccione", new { @class = "form-control selectpicker", data_live_search = "true" })
            @Html.ValidationMessageFor(m => m.Mes, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-3">
            @Html.LabelFor(m => m.Dia, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Dia, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Dia, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.Telefono, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Telefono, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Telefono, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.Celular, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Celular, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Celular, "", new { @class = "text-danger" })
        </div>

        <div class="text-right">
            <button type="submit" class="btn btn-success" id="guardar" name="guardar">GUARDAR</button>
            <button type="button" class="btn btn-warning" data-dismiss="modal">CERRAR</button>
        </div>
    }
</div>

<script type="text/javascript">
    CrearContacto.init();
</script>


