@model RestablecerPasswordViewModel
@{
    ViewBag.Title = "Restablecer contraseña";
    Layout = "~/Views/Shared/_LayoutControlAcceso.cshtml";
}

<div class="row">
    <img src="@Url.Content("~/Content/images/ControlAcceso/logo-process-plus.png")" alt="logo-process" class="img-responsive" />
</div>

<div class="row">
    @using (Html.BeginForm("RestablecerPassword", "ControlAcceso",
                    new { ReturnUrl = ViewBag.ReturnUrl },
                    FormMethod.Post,
                    new { @class = "", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationMessage("Error", new { @class = "text-danger" })
        @Html.ValidationMessage("Success", new { @class = "text-success" })
        @Html.ValidationSummary(true)

        <h2>Restablecer contraseña</h2>

        <div class="form-group">
            @Html.TextBoxFor(m => m.Documento, new { @class = "form-control", @placeholder = "Ingrese su número de identificación" })
            @Html.ValidationMessageFor(m => m.Documento, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-default">Restablecer</button>
        </div>

        <div class="form-group">
            <a href="@Url.Action("IniciarSesion", "ControlAcceso")">< Atrás</a>
        </div>
    }
</div>