@model ConsultarDetalleFacturaPagoProveedorViewModel
@{
    ViewBag.Title = "Consultar detalle de pago de la factura a proveedor";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">@ViewBag.Title</h4>
</div>

<div class="modal-body">
    <h2>DATOS DE LA OC</h2>
    <div class="form-group  col-xs-6 padding-left-0">
        @Html.LabelFor(m => m.OrdenCompra, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.OrdenCompra, "", new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.OrdenCompra, "", new { @class = "text-danger" })
    </div>
    <div class="form-group   col-xs-6 padding-left-0">
        @Html.LabelFor(m => m.Empresa, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Empresa, "", new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.Empresa, "", new { @class = "text-danger" })
    </div>
    <div class="form-group  col-xs-6 padding-left-0">
        @Html.LabelFor(m => m.Cliente, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Cliente, "", new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.Cliente, "", new { @class = "text-danger" })
    </div>
    <div class="form-group   col-xs-6 padding-left-0">
        @Html.LabelFor(m => m.OrdenTrabajo, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.OrdenTrabajo, "", new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.OrdenTrabajo, "", new { @class = "text-danger" })
    </div>
    <div class="form-group  col-xs-6 padding-left-0">
        @Html.LabelFor(m => m.ReferenciaOrdenTrabajo, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.ReferenciaOrdenTrabajo, "", new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.ReferenciaOrdenTrabajo, "", new { @class = "text-danger" })
    </div>
    <div class="form-group   col-xs-6 padding-left-0">
        @Html.LabelFor(m => m.NumeroPresupuesto, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.NumeroPresupuesto, "", new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.NumeroPresupuesto, "", new { @class = "text-danger" })
    </div>
    <div class="form-group  col-xs-6 padding-left-0">
        @Html.LabelFor(m => m.VersionPresupuestoInterno, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.VersionPresupuestoInterno, "", new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.VersionPresupuestoInterno, "", new { @class = "text-danger" })
    </div>
    <div class="form-group   col-xs-6 padding-left-0">
        @Html.LabelFor(m => m.VersionPresupuestoExterno, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.VersionPresupuestoExterno, "", new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.VersionPresupuestoExterno, "", new { @class = "text-danger" })
    </div>
    <div class="form-group  col-xs-6 padding-left-0">
        @Html.LabelFor(m => m.UsuarioGeneroOc, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.UsuarioGeneroOc, "", new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.UsuarioGeneroOc, "", new { @class = "text-danger" })
    </div>
    <div class="form-group  col-xs-6 padding-left-0">
        @Html.LabelFor(m => m.FechaRegistroOc, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.FechaRegistroOc, "", new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.FechaRegistroOc, "", new { @class = "text-danger" })
    </div>
    <div class="form-group  col-xs-6 padding-left-0">
        @Html.LabelFor(m => m.Volumen, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Volumen, "", new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.Volumen, "", new { @class = "text-danger" })
    </div>
    <div class="clearfix"></div>
    <div class="clearfix"></div>
    <h2>DATOS DE LA FACTURA</h2>

    <div class="clearfix"></div>
    <div class="form-group   col-xs-6 padding-left-0">
        @Html.LabelFor(m => m.Proveedor, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Proveedor, "", new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.Proveedor, "", new { @class = "text-danger" })
    </div>
    <div class="form-group   col-xs-6 padding-left-0">
        @Html.LabelFor(m => m.RazonSocialProveedor, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.RazonSocialProveedor, "", new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.RazonSocialProveedor, "", new { @class = "text-danger" })
    </div>
    <div class="form-group  col-xs-6 padding-left-0">
        @Html.LabelFor(m => m.NitProveedor, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.NitProveedor, "", new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.NitProveedor, "", new { @class = "text-danger" })
    </div>
    <div class="form-group   col-xs-6 padding-left-0">
        @Html.LabelFor(m => m.TelefonoProveedor, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.TelefonoProveedor, "", new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.TelefonoProveedor, "", new { @class = "text-danger" })
    </div>

    <div class="form-group  col-xs-6 padding-left-0">
        @Html.LabelFor(m => m.TipoDocumento, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.TipoDocumento, "", new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.TipoDocumento, "", new { @class = "text-danger" })
    </div>
    <div class="form-group   col-xs-6 padding-left-0">
        @Html.LabelFor(m => m.NumeroFactura, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.NumeroFactura, "", new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.NumeroFactura, "", new { @class = "text-danger" })
    </div>

    <div class="form-group  col-xs-6 padding-left-0">
        @Html.LabelFor(m => m.FechaFactura, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.FechaFactura, "", new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.FechaFactura, "", new { @class = "text-danger" })
    </div>
    <div class="form-group   col-xs-6 padding-left-0">
        @Html.LabelFor(m => m.FechaVencimiento, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.FechaVencimiento, "", new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.FechaVencimiento, "", new { @class = "text-danger" })
    </div>
    <div class="form-group  col-xs-6 padding-left-0">
        @Html.LabelFor(m => m.EstadoFactura, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.EstadoFactura, "", new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.EstadoFactura, "", new { @class = "text-danger" })
    </div>
    <div class="form-group  col-xs-6 padding-left-0">
        @Html.LabelFor(m => m.UsuarioRegistro, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.UsuarioRegistro, "", new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.UsuarioRegistro, "", new { @class = "text-danger" })
    </div>
    <div class="form-group   col-xs-6 padding-left-0">
        @Html.LabelFor(m => m.FechaRegistro, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.FechaRegistro, "", new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.FechaRegistro, "", new { @class = "text-danger" })
    </div>
    <div class="form-group  col-xs-6 padding-left-0">
        <br />
        <a class="btn btn-secondary" href="@Url.Content(Model.AdjuntoComprimidoFactura)">Descargar adjuntos</a>
    </div>

    <div class="clearfix"></div>
    <div class="clearfix"></div>
    <h2>DATOS DEL PAGO</h2>
    <div class="form-group   col-xs-6 padding-left-0">
        @Html.LabelFor(m => m.NumeroPago, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.NumeroPago, "", new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.NumeroPago, "", new { @class = "text-danger" })
    </div>
    <div class="form-group   col-xs-6 padding-left-0">
        @Html.LabelFor(m => m.Subtotal, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Subtotal, "", new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.Subtotal, "", new { @class = "text-danger" })
    </div>
    <div class="form-group   col-xs-6 padding-left-0">
        @Html.LabelFor(m => m.Impuesto, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Impuesto, "", new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.Impuesto, "", new { @class = "text-danger" })
    </div>
    <div class="form-group   col-xs-6 padding-left-0">
        @Html.LabelFor(m => m.ValorTotal, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.ValorTotal, "", new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.ValorTotal, "", new { @class = "text-danger" })
    </div>
    <div class="form-group   col-xs-6 padding-left-0">
        @Html.LabelFor(m => m.EstadoPago, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.EstadoPago, "", new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.EstadoPago, "", new { @class = "text-danger" })
    </div>
    <div class="form-group   col-xs-6 padding-left-0">
        @Html.LabelFor(m => m.UsuarioRegistroPago, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.UsuarioRegistroPago, "", new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.UsuarioRegistroPago, "", new { @class = "text-danger" })
    </div>
    <div class="form-group   col-xs-6 padding-left-0">
        @Html.LabelFor(m => m.FechaPago, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.FechaPago, "", new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.FechaPago, "", new { @class = "text-danger" })
    </div>
    <div class="form-group  col-xs-6 padding-left-0">
        <br />
        <a class="btn btn-secondary" href="@Url.Content(Model.AdjuntoComprimidoPago)">Descargar adjuntos</a>
    </div>

    <div class="text-right">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>
    </div>
</div>