@model EstadoPresupuestoViewModel
@{
    ViewBag.Title = "Estado de Presupuestos";
}

<div class="col-md-2">
    <label class="text-center">FILTROS</label>
    <table id="tabla-Asociacion" class="table table-striped table-bordered compact text-center" cellpadding="0" width="100%">
        <thead>
            <tr>
                <th class="text-center">FECHAS OT</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>FECHA INICIAL <input type="text" class="form-control" id="FechaInicio"></td>
            </tr>
            <tr>
                <td>FECHA FINAL  <input type="text" class="form-control" id="FechaFin"></td>
            </tr>
        </tbody>
    </table>

    <table id="tabla-Asociacion" class="table table-striped table-bordered compact text-center" cellpadding="0" width="100%">
        <thead>
            <tr>
                <th class="text-center" colspan="2">EMPRESAS</th>
            </tr>
        </thead>
        <tbody>
            @foreach (dynamic item in Model.ListaEmpresas)
            {
                <tr>
                    <td>
                        <input type="checkbox" id="@item.Value" onclick="SeleccionarEmpresa(@item.Value)" class="custom-radio" />
                    </td>
                    <td class="text-left">@item.Text</td>
                </tr>
            }

        </tbody>
    </table>
</div>


<div class="col-md-10">
    <div class="col-md-12">
        <div id="chartContainer_pieEmpresas" height="500px"></div>
    </div>
    <div class="col-md-12">
        <div class="clearfix"></div>
        <div class="hidden" id="tabla_Empresas">
            <table id="tabla-Empresas_Reporte" class="table table-striped table-bordered compact text-center" cellpadding="0" width="100%">
                <thead>
                    <tr>
                        <th class="text-center">Nombre</th>
                        <th class="text-center">Estado</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>



@Styles.Render("~/bundles/dataTables.css")

@section Scripts{
    @Scripts.Render("~/bundles/dataTables.js")

    <script type="text/javascript">
        var URL_GRAFICA_EMPRESAS = "@Url.Action("PieEmpresas", "EstadoPresupuesto", new { Area = "Trafico" })";
        var URL_TABLA_EMPRESA = "@Url.Action("TablaEmpresas", "EstadoPresupuesto", new { Area = "Trafico" })";
    </script>
    @Scripts.Render("~/bundles/canvasjs")
    @Scripts.Render("~/Areas/Trafico/scripts/EstadoPresupuesto/Listar.js")
}

