@model CrearFacturaProveedorViewModel
@{
    ViewBag.Title = "Registro de facturas proveedor";
}

@using (Ajax.BeginForm("Crear", "FacturaProveedor", new { Area = "Produccion" },
                                                                                        new AjaxOptions { HttpMethod = "POST", OnBegin = "OnBeginFormEnviarImagenFactura", OnComplete = "OnCompleteCrearFactura" },
                                                                                        new { @class = "", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="clearfix"></div>
    @Html.ValidationMessage("Error", new { @class = "text-danger" })
    @Html.ValidationMessage("Success", new { @class = "text-success" })
    @Html.ValidationSummary(false, "", new { @class = "alert alert-danger small col-md-12" })
    <div class="clearfix"></div>
        @Html.HiddenFor(m => m.OrdenCompra)

        <div class="x_panel">
            <div class="x_title">
                <h2>@ViewBag.Title</h2>
                <ul class="nav navbar-right panel_toolbox text-right">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="form-group col-md-4">
                    <div class="form-group col-md-12">
                        @Html.LabelFor(m => m.Documento, new { @class = "control-label" })
                        <input id="Documento" name="Documento" type="file" class="form-control" onchange="UploadFileFactura(this)" />
                        @Html.ValidationMessageFor(m => m.Documento, "", new { @class = "text-danger" })
                        <br />
                        <!--Tabla-->
                        <div class="row">
                            <div class="col-md-12">
                                <table id="tabla-imagen-factura" class="table table-striped table-bordered compact text-center" cellpadding="0" width="100%"> </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-8">
                    <div class="form-group col-md-6 ocultar">
                        @Html.LabelFor(m => m.TipoDocumento, new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.TipoDocumento, Model.ListaTipos, "Seleccione", new { @class = "form-control selectpicker", data_live_search = "true" })
                        @Html.ValidationMessageFor(m => m.TipoDocumento, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6 ocultar">
                        @Html.LabelFor(m => m.NumeroDocumento, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.NumeroDocumento, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.NumeroDocumento, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6 ocultar">
                        @Html.LabelFor(m => m.FechaDocumento, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.FechaDocumento, new { @class = "form-control datepicker" })
                        @Html.ValidationMessageFor(m => m.FechaDocumento, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6 ocultar">
                        @Html.LabelFor(m => m.FechaVencimientoDocumento, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.FechaVencimientoDocumento, new { @class = "form-control datepicker" })
                        @Html.ValidationMessageFor(m => m.FechaVencimientoDocumento, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4 ocultar">
                        @Html.LabelFor(m => m.ValorDocumento, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.ValorDocumento, "{0:0}", new { @class = "form-control ", @readonly = "readonly" })
                        @Html.ValidationMessageFor(m => m.ValorDocumento, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4 ocultar">
                        @Html.LabelFor(m => m.ImpuestoDocumento, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.ImpuestoDocumento, "{0:0}", new { @class = "form-control ", @readonly = "readonly"})
                        @Html.ValidationMessageFor(m => m.ImpuestoDocumento, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4 ocultar">
                        @Html.LabelFor(m => m.Volumen, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Volumen, "{0:0}", new { @class = "form-control ", @readonly = "readonly" })
                        @Html.ValidationMessageFor(m => m.Volumen, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4 ocultar">
                        @Html.LabelFor(m => m.ValorTotalDocumento, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.ValorTotalDocumento, "{0:0}", new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(m => m.ValorTotalDocumento, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-12 ocultar">
                        @Html.LabelFor(m => m.Observacion, new { @class = "control-label" })
                        @Html.TextAreaFor(m => m.Observacion, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Observacion, "", new { @class = "text-danger" })
                    </div>
                    <h5>RECUERDE ADJUNTAR LA IMAGEN DE CADA FACTURA.</h5>

                    <div class="clearfix"></div>
                    <hr />
                    <div class="clearfix"></div>
                    <div class="text-right">
                        @if (Sesion.HasPermission("PRO-FACTURA_PROVEEDOR_CREAR"))
                        {
                            <button type="submit" class="btn btn-success">Guardar</button>
                        }
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>
                    </div>

                </div>
                <div class="clearfix"></div>

            </div>
        </div>
}
