@{
    ViewBag.Title = "Reportes Gestión";
}
    <div class="col-md-12 content-menu">
        <div class="col-md-3 col-sm-4 text-center">
            <a href="@Url.Action("ReporteClientesEmpresas", "Gestion", new {Area = "Reportes"})">
                <img src="@Url.Content("~/Content/images/Gestion/Agencias.svg")" class="img-response" alt="Empresas" />
                <h4 class="text-center">Reporte General De Empleados</h4>
            </a>
        </div>


        <div class="col-md-3 col-sm-4 text-center">
            <a href="/informes_process/ReportePersonalDown.html" target="_blanck">
                <img src="/Content/images/Gestion/Agencias.svg" class="img-responsive" alt="">
                <h4 class="text-center">Reporte Personal Down</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-4 text-center">
            <a href="/informes_process/ReporteUsuarios.html" target="_blanck">
                <img src="/Content/images/Gestion/Agencias.svg" class="img-responsive" alt="">
                <h4 class="text-center">Reporte Usuarios</h4>
            </a>
        </div>

         <div class="col-md-3 col-sm-4 text-center">
            <a href="/informes_process/ReporteClientes.html" target="_blanck">
                <img src="/Content/images/Gestion/Agencias.svg" class="img-responsive" alt="">
                <h4 class="text-center">Reporte Clientes</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-4 text-center">
            <a href="/informes_process/ReporteProveedores2.html" target="_blanck">
                <img src="/Content/images/Gestion/Agencias.svg" class="img-responsive" alt="">
                <h4 class="text-center">Reporte Proveedores</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-4 text-center">
            <a href="@Url.Action("ReporteAfiliacionesAEPS", new {Area = "Reportes"})">
                <img src="@Url.Content("~/Content/images/Gestion/Agencias.svg")" class="img-response" alt="Empresas" />
                <h4 class="text-center">Reporte Afiliaciones A EPS</h4>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 text-center">
            <a href="@Url.Action("ReporteAfiliacionesARL", new {Area = "Reportes"})">
                <img src="@Url.Content("~/Content/images/Gestion/Agencias.svg")" class="img-response" alt="Empresas" />
                <h4 class="text-center">Reporte Afiliaciones a ARL</h4>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 text-center">
            <a href="@Url.Action("ReporteAfiliacionesCajaDeCompensacion", new {Area = "Reportes"})">
                <img src="@Url.Content("~/Content/images/Gestion/Agencias.svg")" class="img-response" alt="Empresas" />
                <h4 class="text-center">Reporte Afiliaciones Caja De Compensacion</h4>
            </a>
        </div>


        <div class="col-md-3 col-sm-4 text-center">
            <a href="@Url.Action("ReporteAfiliacionesACesantias", new {Area = "Reportes"})">
                <img src="@Url.Content("~/Content/images/Gestion/Agencias.svg")" class="img-response" alt="Empresas" />
                <h4 class="text-center">Afiliaciones A<br> Cesantias</h4>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 text-center">
            <a href="@Url.Action("Reporteproveedores", new {Area = "Reportes"})">
                <img src="@Url.Content("~/Content/images/Gestion/Agencias.svg")" class="img-response" alt="Empresas" />
                <h4 class="text-center">Reporte <br>de Proveedores</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-4 text-center">
            <a href="/informes_process/ReporteAfiliacionesFondoDePension.html" target="_blanck">
                <img src="/Content/images/Gestion/Agencias.svg" class="img-responsive" alt="">
                <h4 class="text-center">Afiliaciones a Fondos de Pensión</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-4 text-center">
            <a href="/informes_process/ReporteCostoVacaciones.html" target="_blanck">
                <img src="/Content/images/Gestion/Agencias.svg" class="img-responsive" alt="">
                <h4 class="text-center">Reporte de <br>Costo Vacaciones </h4>
            </a>
        </div>




    </div>
