@model EditarEmpleadoViewModel

@{
    ViewBag.Title = "Editar Empleado";
}

<!--Formulario-->
<div class="col-md-12">
    @using (Ajax.BeginForm("Editar", "Empleado", new { Area = "Gestion" }, new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "OnBeginEditarEmpleado",
        OnComplete = "OnCompleteEditarEmpleado"
    }, new { id = "actualizacion-empleado-form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(p => p.EmpleadoId)

        <div class="clearfix"></div>
        @Html.ValidationMessage("Error", new { @class = "text-danger" })
        @Html.ValidationMessage("Success", new { @class = "text-success" })
        @Html.ValidationSummary(false, "", new { @class = "alert alert-danger small col-md-6" })
        <div class="clearfix"></div>


        <div id="root-wizard" class="wizard-gestion">
            <ul class="nav nav-tabs">
                <li role="presentation">
                    <a href="#tab-info-basica" data-toggle="tab">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Información básica
                    </a>
                </li>
                <li role="presentation">
                    <a href="#tab-contacto-emergencia" data-toggle="tab">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Contacto de emergencia
                    </a>
                </li>
                <li role="presentation">
                    <a href="#tab-conyugue" data-toggle="tab">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Conyugue
                    </a>
                </li>

                <li role="presentation">
                    <a href="#tab-hijos" data-toggle="tab">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Hijos
                    </a>
                </li>

                <li role="presentation">
                    <a href="#tab-seguridad" data-toggle="tab">
                        <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Seguridad Social y Parafiscales
                    </a>
                </li>

                <li role="presentation">
                    <a href="#tab-informacion-laboral" data-toggle="tab">
                        <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Información laboral
                    </a>
                </li>
                <li role="presentation">
                    <a href="#tab-informacion-salarial" data-toggle="tab">
                        <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Información salarial
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <!--Datos básicos-->
                <div class="tab-pane" id="tab-info-basica">
                    <div class="help-block"></div>
                    <div class="clearfix"></div>
                    <div id="partial-datos">
                        @Html.Action("CargarDatosBasicos", "Empleado", new { area = "Gestion", id = Model.EmpleadoId, edicion = "Si" })
                    </div>
                    <div class="clearfix"></div>
                </div>

                <!--Contacto de emergencia-->
                <div class="tab-pane" id="tab-contacto-emergencia">
                    <div class="help-block"></div>
                    <div class="clearfix"></div>
                    <form id="contacto-emergencias-form">
                        @Html.Action("CargarContactoEmergencia", "Empleado", new { area = "Gestion", id = Model.EmpleadoId })
                    </form>
                    <div class="clearfix"></div>
                </div>

                <!--Conyugue-->
                <div class="tab-pane" id="tab-conyugue">
                    <div class="help-block"></div>
                    <div class="clearfix"></div>

                    @Html.Action("CargarConyugue", "Empleado", new { area = "Gestion", id = Model.EmpleadoId })

                    <div class="clearfix"></div>
                </div>

                <!--Hijos-->
                <div class="tab-pane" id="tab-hijos">
                    <div class="help-block"></div>
                    <div class="clearfix"></div>
                    @Html.Action("CargarHijos", "Empleado", new { area = "Gestion", id = Model.EmpleadoId })
                    <div class="clearfix"></div>
                </div>

                <!--Seguridad social-->
                <div class="tab-pane" id="tab-seguridad">
                    <div class="help-block"></div>
                    <div class="clearfix"></div>
                    <form id="seguridad-social-form">
                        @Html.Action("CargarSeguridadSocial", "Empleado", new { area = "Gestion", id = Model.EmpleadoId })
                    </form>
                    <div class="clearfix"></div>
                </div>

                <!--Información laboral-->
                <div class="tab-pane" id="tab-informacion-laboral">
                    <div class="help-block"></div>
                    <div class="clearfix"></div>
                    <form id="info-laboral-form">
                        @Html.Action("CargarInformacionLaboral", "Empleado", new { area = "Gestion", id = Model.EmpleadoId })
                    </form>
                    <div class="clearfix"></div>
                </div>

                <!--Información salarial-->
                <div class="tab-pane" id="tab-informacion-salarial">
                    <div class="help-block"></div>
                    <div class="clearfix"></div>
                    <form id="info-salarial-form">
                        @Html.Action("CargarInformacionSalarial", "Empleado", new { area = "Gestion", id = Model.EmpleadoId })
                    </form>
                    <div class="clearfix"></div>
                    <div class="text-right">
                        <button type="button" class="btn btn-secondary" value="Guardar" onclick="actualizarEmpleado()">Guardar</button>
                        <a href="@Url.Action("Ver", "Empleado", new { Area = "Gestion", id =Model.EmpleadoId })" class="btn btn-warning">Cerrar</a>
                    </div>
                </div>

            </div>
            <ul class="pager wizard">
                <li class="previous first" style="display:none;"><a class="btn btn-secondary" href="#"><span class="glyphicon glyphicon-fast-backward"></span></a></li>
                <li class="previous"><a href="#"><span class="glyphicon glyphicon-backward"></span></a></li>
                <li class="next last"><a href="#"><span class="glyphicon glyphicon-fast-forward"></span></a></li>
                <li class="next"><a href="#"><span class="glyphicon glyphicon-forward"></span></a></li>
            </ul>
        </div>
    }
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jquery.bootstrap.wizard")
    @Scripts.Render("~/bundles/dataTables.js")
    @Scripts.Render("~/Areas/Gestion/scripts/Empleado/_DatosBasicos.js")
    @Scripts.Render("~/Areas/Gestion/scripts/Empleado/_ContactoEmergencia.js")
    @Scripts.Render("~/Areas/Gestion/scripts/Empleado/_Conyugue.js")
    @Scripts.Render("~/Areas/Gestion/scripts/Empleado/_CargarHijos.js")
    @Scripts.Render("~/Areas/Gestion/scripts/Empleado/_SeguridadSocial.js")
    @Scripts.Render("~/Areas/Gestion/scripts/Empleado/_InformacionLaboral.js")
    @Scripts.Render("~/Areas/Gestion/scripts/Empleado/_CargarDistribucionSalarial.js")
    @Scripts.Render("~/Areas/Gestion/scripts/Empleado/Editar.js")

    <script type="text/javascript">
        var URL_CAMBIO_UNIDAD_NEGOCIO = '@Url.Action("ListarOpcionesAreas", "Empleado", new { Area = "Gestion"})';
        var URL_HIJOS_EMPLEADOS = '@Url.Action("ListarHijosEmpleados", "Empleado", new { id=Model.EmpleadoId, Area = "Gestion"})';
        var URL_UNIDADES_PORCENTAJES = '@Url.Action("ListarDistribucionSalarialEmpleados", "Empleado", new { id=Model.EmpleadoId, Area = "Gestion"})';
        var URL_VER_EMPLEADO = "@Url.Action("Ver", "Empleado", new { Area = "Gestion", id =Model.EmpleadoId })";
        var URL_CONSULTAR_DOCUMENTOS_PERSONAS = "@Url.Action("ConsultarDocumentos", "Persona", new { Area =  "Gestion" })";
        var URL_CONSULTAR_PERSONA = "@Url.Action("Consultar", "Persona", new { Area = "Gestion" })";
        var URL_UPLOAD = "@Url.Action("UploadFotoCrear", "Persona", new { Area = "Gestion" })";
        var URL_EDITAR_HIJOS = "@Url.Action("EditarHijo", "Empleado", new { Area = "Gestion" })";

        initDatosBasicos();
        initContactoEmergencia();
        initConyugue();
        initHijos();
        initSeguridadSocial();
        initInformacionLaboral();
        initInformacionSalarial();
    </script>

}
