@model ProcessPlusERP.Areas.Gestion.Models.PlanNegocio.PlanNegocioViewModel

@{
    ViewBag.Title = "Generar plan de negocio";
}

@using (Ajax.BeginForm("Editar", "PlanNegocio", new { Area = "Gestion" }, new AjaxOptions
{
    HttpMethod = "POST",
    OnBegin = "editarPlan.onBegin",
    OnComplete = "editarPlan.onComplete"
}, new { id = "planNegocioForm" }))
{
    <style type='text/css'>
        .ui-datepicker-calendar, .ui-datepicker-month {
            display: none;
        }
    </style>

    <input type="hidden" id="planNegocioId" value="@ViewBag.PlanNegocioId" />
    <div class="row">
        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.Nombre, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Nombre, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.Anio, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Anio, new { @class = "form-control gestion-date-year" })
            @Html.ValidationMessageFor(m => m.Anio, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-6">
            <!--Años-->
            @Html.LabelFor(m => m.UnidadNegocioId, new { @class = "control-label" })
            @Html.DropDownListFor(m => m.UnidadNegocioId, Model.UnidadesNegocio, "Seleccione", new { @class = "form-control selectpicker", data_live_search = "true", onchange = "editarPlan.OnchangeUnidadNegocio(event)" })
            @Html.ValidationMessageFor(m => m.UnidadNegocioId, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.MetaAnual, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.MetaAnual, new { @class = "form-control", placeholder = "Valor de la meta anual", maxlength = "50", onchange = "editarPlan.seleccionaMetaAnual()" })
            @Html.ValidationMessageFor(m => m.MetaAnual, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.PromedioMensual, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.PromedioMensual, new { @class = "form-control", placeholder = "Valor de la meta anual", maxlength = "50", disabled = true })
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.AcumuladoMeses, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.AcumuladoMeses, new { @class = "form-control", placeholder = "Acumulado mensual", maxlength = "50", disabled = true })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.DocumentoRecurso, new { @class = "control-label" })

                @Html.DropDownListFor(m => m.DocumentoRecurso, Model.ListadoDocumetosRecursos, "Seleccione", new { @class = "form-control selectpicker", data_live_search = "true" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Porcentaje, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Porcentaje, new { @class = "form-control", placeholder = "Porcentaje recurso (%)", maxlength = "50" })
            </div>
            <div class="form-group text-right">
                <button type="button" onclick="editarPlan.AdicionarRecurso()" class="btn btn-info">Adicionar</button>
            </div>
        </div>
        <div class="form-group col-md-6">
            <table id="tabla-recursos" class="table table-striped table-bordered compact text-center" cellpadding="0" width="100%"></table>
        </div>
    </div>
    <hr />

    <div class="row">
        @for (var i = 0; i < Model.PlanesMensuales.Count; i++)
        {
            <div class="col-lg-6">
                @Html.Action("CargarPlanMensual", "PlanNegocio", new { area="Gestion", model = Model.PlanesMensuales[i] })
            </div>
        }
    </div>
    <hr />

    <div class="row">
        <div class="col-md-2 col-md-offset-10">
            <a class="btn btn-primary" onclick="editarPlan.validarFinalizacion()">Actualizar registro</a>
        </div>
    </div>
}

@section Scripts{
    @Scripts.Render("~/bundles/dataTables.js")
    @Scripts.Render("~/Areas/Gestion/scripts/PlanNegocio/Editar.js")
    <script type="text/javascript">
        var URL_CAMBIO_UNIDAD_NEGOCIO = '@Url.Action("ListarOpcionesEmpleados", "PlanNegocio", new { Area = "Gestion"})';

          var URL_LISTAR_RECURSOS = "@Url.Action("ListarRecursosPlanNegocio", "PlanNegocio", new { Area = "Gestion", id = ViewBag.PlanNegocioId })";

         var URL_LISTAR_PLANES = '@Url.Action("Listar", "PlanNegocio", new { Area = "Gestion", empresaId = ViewBag.EmpresaId })';
        editarPlan.init();
    </script>
}