@model IndicadorCorporativoViewModel
@{
    ViewBag.Title = "INDICADOR CORPORATIVO";
}

<div class="row">
    <div class="col-md-12 align-right">
        <div class="col-md-6 ">
            @Html.LabelFor(m => m.EmpresaId, new { @class = "control-label" })
            @Html.DropDownListFor(m => m.EmpresaId, Model.ListaEmpresas, "Seleccione", new
       {
           @class = "form-control",
           onchange = "consultarUsuarios()"
       })
            @Html.ValidationMessageFor(m => m.EmpresaId, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-6 ">
        </div>
    </div>

    <div class="col-md-6">
        @Html.LabelFor(m => m.FechaInicio, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.FechaInicio, new { @class = "form-control datepicker" })
        @Html.ValidationMessageFor(m => m.FechaInicio, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(m => m.FechaFin, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.FechaFin, new { @class = "form-control datepicker" })
        @Html.ValidationMessageFor(m => m.FechaFin, "", new { @class = "text-danger" })
    </div>
    <!-- tabla empleados -->
    <div class="col-md-6">
        <div class="row margin-top-1">
            <div class="col-md-6 text-left">
                <form id="form-filtro-tabla" class="form-inline">
                    <div class="form-group">
                        <input type="search" name="input-filtro-empleado" id="input-filtro-empleado" class="form-control" placeholder="Filtro" />
                        <input type="submit" class="btn btn-default" value="BUSCAR" />
                    </div>
                </form>
            </div>
        </div>

        <table id="tabla-usuario" class="table table-striped table-bordered compact text-center" cellpadding="0" width="100%">
            <thead>
                <tr>
                    <th width="10"></th>
                    <th align="right">Nombre</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div class="col-md-6">
        <div class="col-md-12">
            <div class="row margin-top-1">
                <div class="col-md-6 text-left">

                </div>
            </div>


            <table id="tabla-usuario_por_empresa" class="table table-striped table-bordered compact text-center" cellpadding="0" width="100%">
                <thead>
                    <tr>
                        <th>Horas Trabajadas</th>
                        <th align="right">HorasPresupuestadas</th>
                    </tr>
                </thead>
                <tbody>
                <td><span id="HorasTrabajadas"></span></td>
                <td><span id="HorasPresupuestadas"></span></td>
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <div id="chartContainer" style="height: 400px; width: 100%;"></div>
            </div>
        </div>
    </div>
</div>


@Styles.Render("~/bundles/dataTables.css")

@section Scripts{
    <script type="text/javascript">
        var URL_USUARIO = "@Url.Action("Usuario", "IndicadorCorporativo", new { Area = "HorasHombre"})";
        var URL_USUARIO_POR_EMPRESA = "@Url.Action("Horas_Usuario", "IndicadorCorporativo", new { Area = "HorasHombre"})";
        var URL_USUARIO_POR_EMPRESA_TABLA = "@Url.Action("Horas_Usuario_tabla", "IndicadorCorporativo", new { Area = "HorasHombre"})";
    </script>
    @Scripts.Render("~/bundles/canvasjs")
    @Scripts.Render("~/bundles/dataTables.js")
    @Scripts.Render("~/Areas/HorasHombre/scripts/IndicadorCorporativo/Listar.js")
}