@model EditarJerarquiaAprobacionViewModel
@{
    var nombreTipoJerarquia = "";
    if (Model.JerarquiaAprobacionTipoId == GestionCustom.JerarquiaAprobacionTipo.Cotizacion.GetHashCode())
    {
        nombreTipoJerarquia = "Cotizaciones";
    }
    else if (Model.JerarquiaAprobacionTipoId == GestionCustom.JerarquiaAprobacionTipo.PresupuestoInterno.GetHashCode())
    {
        nombreTipoJerarquia = "Presupuesto Interno";
    }
    else if (Model.JerarquiaAprobacionTipoId == GestionCustom.JerarquiaAprobacionTipo.CancelacionPresupuesto.GetHashCode())
    {
        nombreTipoJerarquia = "Cancelación Presupuesto";
    }
    else if (Model.JerarquiaAprobacionTipoId == GestionCustom.JerarquiaAprobacionTipo.CierrePresupuesto.GetHashCode())
    {
        nombreTipoJerarquia = "Cierre Presupuesto";
    }
    else if (Model.JerarquiaAprobacionTipoId == GestionCustom.JerarquiaAprobacionTipo.FacturaProveedor.GetHashCode())
    {
        nombreTipoJerarquia = "Factura proveedor";
    }
    else if (Model.JerarquiaAprobacionTipoId == GestionCustom.JerarquiaAprobacionTipo.Anticipos.GetHashCode())
    {
        nombreTipoJerarquia = "Anticipo";
    }
    else if (Model.JerarquiaAprobacionTipoId == GestionCustom.JerarquiaAprobacionTipo.Legalizacion.GetHashCode())
    {
        nombreTipoJerarquia = "Legalización";
    }

    ViewBag.Title = "Editar jerarquia de aprobación " + nombreTipoJerarquia;
}

<div class="panel-body">
    @using (Ajax.BeginForm("Editar", "JerarquiaAprobacion",
            new AjaxOptions
            {
                HttpMethod = "POST",
                OnBegin = "EditarJerarquiaAprobacion.OnBegin",
                OnComplete = "EditarJerarquiaAprobacion.OnComplete"
            }, new { id = "form_jerarquia_aprobacion_editar" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.Id)

        <div class="clearfix"></div>
        @Html.ValidationMessage("Error", new { @class = "text-danger" })
        @Html.ValidationMessage("Success", new { @class = "text-success" })
        @Html.ValidationSummary(false, "", new { @class = "alert alert-danger small col-md-12" })
        <div class="clearfix"></div>

        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.JerarquiaAprobacionTipoId)

        <div class="form-group col-md-4">
            @Html.LabelFor(m => m.Empresa, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Empresa, new { @class = "form-control", @readonly = "readonly" })
        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(m => m.Cliente, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Cliente, new { @class = "form-control", @readonly = "readonly" })
        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(m => m.CentroCosto, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.CentroCosto, new { @class = "form-control", @readonly = "readonly" })
        </div>

        if (Model.JerarquiaAprobacionTipoId == GestionCustom.JerarquiaAprobacionTipo.PresupuestoInterno.GetHashCode()
               || Model.JerarquiaAprobacionTipoId == GestionCustom.JerarquiaAprobacionTipo.Cotizacion.GetHashCode()
               || Model.JerarquiaAprobacionTipoId == GestionCustom.JerarquiaAprobacionTipo.CancelacionPresupuesto.GetHashCode()
               || Model.JerarquiaAprobacionTipoId == GestionCustom.JerarquiaAprobacionTipo.CierrePresupuesto.GetHashCode())
        {
            <div class="clearfix"></div>
            <div class="form-group col-md-2">
                @Html.LabelFor(m => m.PorcentajeRentabilidad, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.PorcentajeRentabilidad, new { @class = "form-control", required = "required", placeholder = "Porcentaje de rentabilidad minimo", type = "number" })
                @Html.ValidationMessageFor(m => m.PorcentajeRentabilidad, "", new { @class = "text-danger" })
            </div>
        }

        <div class="clearfix"></div>
        <div class="ln_solid"></div>

        <!--Tabla-->
        <div class="pull-right">
            <a href="@Url.Action("CrearGrupo", "JerarquiaAprobacion", new {Area = "Gestion", Id = Model.JerarquiaAprobacionTipoId })" class="btn btn-secondary form-control" data-toggle="modal" data-target="#" data-execute-onload="JerarquiaAprobacionGrupoCrear.OnLoad">Crear grupo</a>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table id="tabla_grupos" class="table table-striped table-bordered compact text-center" cellpadding="0" width="100%">
                    <thead>
                        <tr>
                            <th class="text-center">Orden de Aprobación</th>
                            <th class="text-center">Grupo</th>
                            <th class="text-center">Posición Rentabilidad</th>
                            <th class="text-center">Usuario(s)</th>
                            <th class="text-center">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>

        <div class="pull-right">
            <button type="submit" class="btn btn-success">GUARDAR</button>
            <button type="button" class="btn btn-warning" onclick="EditarJerarquiaAprobacion.Cancelar()">CERRAR</button>
        </div>
    }
</div>

@Styles.Render("~/bundles/dataTables.css")

@section Scripts{
    @Scripts.Render("~/bundles/dataTables.js")

    <script type="text/javascript">
        var URL_JERARQUIA_APROBACION_GRUPOS_LISTAR = "@Url.Action("ListarGrupos", "JerarquiaAprobacion", new { area = "Gestion", jerarquiaAprobacionId = Model.Id })";

        var URL_GRUPO_EDITAR = "@Url.Action("CrearGrupo", "JerarquiaAprobacion", new { area = "Gestion" })";
        var URL_JERARQUIA_APROBACION_LISTAR_GRUPOS = "@Url.Action("CrearListarGrupos", "JerarquiaAprobacion", new { area = "Gestion" })";

        var URL_JERARQUIA_APROBACION_LISTAR = "@Url.Action("Listar", "JerarquiaAprobacion", new { area = "Gestion", id = Model.JerarquiaAprobacionTipoId })";

        var URL_JERARQUIA_APROBACION_LISTAR_GRUPO_USUARIOS = "@Url.Action("ListarGrupoUsuarios", "JerarquiaAprobacion", new { area = "Gestion" })";
    </script>

    @Scripts.Render("~/Areas/Gestion/Scripts/JerarquiaAprobacion/Editar.js")
    @Scripts.Render("~/Areas/Gestion/Scripts/JerarquiaAprobacion/EditarCrearGrupo.js")
@Scripts.Render("~/Areas/Gestion/Scripts/JerarquiaAprobacion/EditarListarGrupoUsuarios.js")
}
