@model AprobacionCierrePresupuestoResponderViewModel
@{
    ViewBag.Title = "Aprobar/Rechazar Presupuesto";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">@ViewBag.Title</h4>
</div>

<div class="modal-body">
    @using (Ajax.BeginForm("Responder", "AprobacionCierrePresupuesto", new { Area = "Produccion" },
            new AjaxOptions
            {
                HttpMethod = "POST",
                OnBegin = "AprobacionCierrePresupuestoResponder.OnBegin",
                OnComplete = "AprobacionCierrePresupuestoResponder.OnComplete"
            },
            new { @id = "form_aprobacion_presupuesto_responder", @class = "", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="clearfix"></div>
        @Html.ValidationMessage("Error", new { @class = "text-danger" })
        @Html.ValidationMessage("Success", new { @class = "text-success" })
        @Html.ValidationSummary(false, "", new { @class = "alert alert-danger small col-md-12" })
        <div class="clearfix"></div>

        @Html.HiddenFor(m => m.AprobacionCierrePresupuestoGrupoUsuarioId)

        <div class="form-group">
            @Html.LabelFor(m => m.Observaciones, new { @class = "control-label" })
            @Html.TextAreaFor(m => m.Observaciones, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Observaciones, "", new { @class = "text-danger" })
        </div>

        <div class="text-right">
            <button type="button" class="btn btn-success" onclick="AprobacionCierrePresupuestoResponder.Aprobar()">Aprobar</button>
            <button type="button" class="btn btn-danger" onclick="AprobacionCierrePresupuestoResponder.Rechazar()">Rechazar</button>
            <button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>
        </div>
    }
</div>